* {
    margin: 0;
    padding: 0;
}
body {
    padding: 40px;
}
#title {
    text-align: center;
    font-size: 75px;
    margin-bottom: 50px;
}
#content-container {
    display: flex;
    justify-content: space-evenly;
}
#button-container,
#grid-container {
    background-color: aquamarine;
    height: 550px;
}
#button-container {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#button-container button {
    width: auto;
    height: 75px;
    border-radius: 25px;
    font-size: 30px;
    margin: 10px;
}
#grid-container {
    width: 700px;
}