* {
    margin: 0;
    padding: 0;
}
body {
    padding: 40px;
}
#title {
    text-align: center;
    font-size: 75px;
    margin-bottom: 50px;
}
#content-container {
    display: flex;
    justify-content: space-evenly;
}
#button-container,
#grid-container {
    background-color: aquamarine;
    height: 550px;
}
#button-container {
    width: 250px;
}
#grid-container {
    width: 700px;
}